#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

select {
  width: 200px;
  height: 100px;
  line-height: 50px;
}

.coloredDiv {
  display: none;
}

.divsHolder {
  margin: top 1em;
  display: flex;
  flex-direction: row;
}

.show {
  display: block;
  height: 100px;
  width: 100px;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: purple;
}

.cars-form {
  margin-top: 1em;
}

button {
  margin-top: 1em;
}

table {
  margin-top: 2em;
  margin-left: 2em;
}

th {
  border: 1px solid black;
}

